.items {
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(max(250px, calc((100% - 1rem*2)/3)), 1fr));
}

.link {
  display: inline-flex;
  align-items: center;
}

.icon {
  color: #fff;
  width: 24px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin-right: 8px;
  border-radius: 3px;
  box-sizing: border-box;
}
